/* Sobre nosotros */

.sobre-nosotros h3 {
    margin-top: 5rem;
    text-align: center;
    font-size: 2rem;
}

.sobre-nosotros p {
    margin: 0.5rem 1rem 1rem 1rem;
    text-align: center;
}

/* Como trabajamos */

.como-trabajamos h3 {
    text-align: center;
    font-size: 2rem;
}

.como-trabajamos p {
    margin: 0.5rem 1rem 2rem 1rem;
    text-align: center;
}

/* Volver al inicio */

.volver-al-inicio {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    background-color: white;
    width: 100%;
    height: 10vh;

    padding-left: 1rem;

    position: fixed;
    top: 0;
    left: 0;
}

.volver-al-inicio svg {
    padding-top: 0.5rem;
}

.volver-al-inicio p {
    font-size: 1.3rem;
    font-weight: 600;

}