:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1.5rem 0 1.5rem;

  background-color: black;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;

  height: 10vh;

  border-bottom: 0.1rem solid black;
  border-radius: 0 0 0 1.5rem;
}

.show-border {
  border-bottom: 0.1rem solid white;
  border-radius: 0;
}

header svg {
  cursor: pointer;
}

/* Nav index */

.nav-index {
  position: absolute;
  transform: translateX(-150%);

  z-index: 1;

  padding: 1.3rem 0 1.3rem 3rem;
  line-height: 1.8rem;

  font-weight: 600;

  background-color: black;
  color: white;

  border-bottom: 0.1rem solid black;
  border-radius: 0 0 0 1.5rem;

}

.nav-index li {
  width: 11rem;
  list-style: none;
}

.nav-index a {
  color: white;
  text-decoration: none;
}

.nav-index .li-products {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}

.nav-index .li-products svg {
  margin-top: 0.7rem;
}

.show-nav {
  position: fixed;
  left: 0;
  right: 0;
  transform: translateX(0);
  transition: all 1s ease;
}


/* Menu nav */

.menu-options {
  position: absolute;
  transform: translateX(-150%);
  padding: 0.5rem 0 0.5rem 3rem;
  cursor: pointer;
}

.menu-options li {
  font-weight: 600;
  list-style: disc;
}

.show-menu-options {
  position: relative;
  top: 0;
  transform: translateY(0);
  transition: all 1s ease;
}


/* Main */

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 10vh;

  padding: 0 0 5rem 0;
}

.main_container ul {
  display: grid;
  grid-template-columns: repeat(2, 10.5rem);
  place-items: center;
  row-gap: 1rem;
}

.main_container ul li {
  border: 0.1rem solid grey;
  border-radius: 1rem;

  color: black;

  width: 9rem;
  height: 15.5rem;

  list-style: none;

  padding: 0 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 0.3rem;
}

.main_container ul li p {
  font-size: 0.8rem;
}

.main_container ul li .div-datos {
  align-self: flex-start;
  gap: 0.15rem;
}

.main_container ul li button {
  align-self: flex-end;
  margin: auto 0rem;
  border: 0.2rem solid black;
  height: 35px;
  width: 35px;
  border-radius: 1rem;
  font-size: 1.5rem;
}

.main_container ul li h4 {
  font-size: 0.8rem;
  font-weight: 400;
}

.main_container ul li span {
  font-size: 0.8rem;
  font-weight: 400;
}

.main_container h3 {
  font-size: 2.5rem;
  padding: 1rem;
  margin-bottom: 0.1rem;
}

.scroll-top {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem;
  top: -2rem;

  background: black;
  border: none;
  border-radius: 3rem;
}

/* Footer */

footer {
  background-color: black;
  color: white;
  border-radius: 1.5rem 1.5rem 0 0;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

footer ul {
  list-style: none;
  font-weight: 600;
  line-height: 2;
  text-align: center;
  font-size: 1.2rem;

  padding-top: 3.3rem;
  padding-bottom: 0.5rem;
}

footer hr {
  width: 80%;
}

footer .contacto {
  text-align: center;
  line-height: 2;

  padding-bottom: 3rem;
}

footer .contacto a {
  color: green;
  margin: 0.15rem;
}

footer .contacto img {
  height: 68px;
  width: 68px;
  margin-top: 1rem;
}

.iconos {
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: 7vh;

  width: 100%;

  border-radius: 1.5rem 1.5rem 0 0;

  background-color: grey;
}

footer .iconos button {
  border-radius: 3rem;
  padding: 0.2rem;
  background: black;
  border: 0.2rem solid white;
}

footer .iconos button svg {
  padding: 0.3rem;
}

.facebook {
  position: absolute;
  top: 26.4rem;
  left: 38%;
  transform: translateX(-38%);
}

.instagram {
  position: absolute;
  top: 26.4rem;
  left: 62%;
  transform: translateX(-62%);
}

.lista-footer a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

